name: learn-github-actions
on: [push]
jobs:
  # ‡”Ô‚ÉÀs‚³‚ê‚é
  check-bats-version:
    runs-on: ubuntu-latest
    steps:
      - run: echo "this is pen"
    steps:
      - run: echo "next steps"
  # •À—ñ‚ÅÀs‚³‚ê‚é
  hoge: 
    runs-on: ubuntu-latest
    steps: 
      - name: Hoge Step
        run: echo Hoge World